.cart-image{
    margin: 20px;
    height:40px;
    width: 40px;
}
.shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    /* Adjust the shadow properties as needed */
}
.cart-icon{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
}
.input{
   padding-top: 0px;
    width:110px;
}
.icon-remove{
    margin: 2px;
    color: red;
    font-weight: 500;
}

.cart-title{
         max-height: 3rem;
        font-size: small;
}
.cart-price{
    font-weight: bold;
    color: black;
}
.cart-subtotal{
    margin-bottom: 3px;
    font-weight: bold;
    color: lightgrey;
}
.items-total{
    display: flex;
    margin-top: 20px;
    margin-left: 60%; 
}
.chevrop-up{
    width: 10px;
    height: 10px;
}
.shopping-button{
  margin-left: 150px;
}
.empty-cart{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.amount-total{
    font-weight: bolder;
}