.custom-form {
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    /* light grey background color */
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
}

.color-black {
    color: black;
}

.font-weight-bold {
    font-weight: bold;
}

.form-button {
    width: 100px;
    margin-left: 100px;
}
.login{
    color: red;
    font-weight: bolder;
    font-size: large;
}
.main__errors {
    color: red;
}