.product{
    margin-bottom: 20px;
}
.product-title{
    max-height: 3rem;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-image{
    height: 200px;
    width: 200px;
}
.product-price{
    font-weight: bold;
    color: black;
}