.custom-form{
    border: 1px solid #ccc;
        background-color: #f8f9fa;
        /* light grey background color */
        max-width: 500px;
        padding: 20px;
        border-radius: 5px;
}
.color-black {
    color: black;
}
.font-weight-bold {
    font-weight: bold;
}
.form-button{
    width: 100px;
    margin-left: 100px;
}
.main__errors{
    color: red;
}
.register{
    color: red;
    font-weight: bold;
    font-size: large;
}
.login-account{
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
    align-items: center;
}
.login-link{
    margin-left: 10px;
    font-size: larger;
}