.custom-form{
    border: 1px solid #ccc;
        background-color: #f8f9fa;
        /* light grey background color */
        max-width: 500px;
        padding: 20px;
        border-radius: 5px;
}
.form-title{
    color: black;
    font-weight: bolder;
}
.amount{
    font-weight: bolder;
    color: black;
}
.form-label{
    color: black;
    font-weight: bolder;
}
.mpesa-response{
    color: red;
    font-weight: bold;
}